@import "../base/extends";
@import "../base/listas";
@import "../base/maps";


.icono-aroma {
    width: 400px;
}

main {
    div { 
        .container { @extend %textos;
        }
        div {
            img {
                width: 200px; 
            }
            div {
                h2 {
                    button {
                        background-color: nth($colores,4);
                    }
                }
                div {
                    div{
                        background-color: nth($colores,3);}
                        }
                    .dropdown-menu {
                        position: absolute;
                        margin: 0px;
                        background-color: #fff;
                        transform: translate(0px, 20px);
                        border-radius: 0.25rem;
                        font-size: 1rem;
                        text-align: center;
                        z-index: 1000;
                        background-clip: padding-box;
                        border: 1px solid rgba(0,0,0,.15);
                        width: 98%;
                        padding: 5px;
                        }
            }
        }
    }
    div {
        background-color: nth($colores,2);
        margin: 20px 0px;
    }
}


.accordion-button:not(.collapsed) {
    color: nth($colores,6);
    background-color: nth($colores,3);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);}


.accordion-button:focus {
    z-index: 3;
    border-color: nth($colores,5);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.btn-info {
    color: nth($colores,6);
    background-color: nth($colores,3);
    border-color: nth($colores,3);
    &:hover {
        color: nth($colores,6);
        background-color: nth($colores,4);
        border-color: nth($colores,4);
    }
    &:focus {
        color: nth($colores,6);
        background-color: nth($colores,5);
        border-color: nth($colores,5);
        box-shadow: 0 0 0 0.25rem nth($colores,7);
    }
}


   

