@import "../base/extends";
@import "../base/extends";
@import "../base/listas";
@import "../base/maps";


.grid-container{
    display: grid;  
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows:  repeat(7, 500px);
    @media screen and (max-width: 970px){
        display: grid;  
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(14, 350px);
        align-items: end;
        }
    
    .card-foto {
        width: 400px;
        height: auto;
        justify-self: center;
        text-align: center;
        align-items: center;
        background-color: nth($colores,1);
        @media screen and (max-width: 970px){
            width: 200px;
            height: auto;} 
        img {
            width: 90%;
            margin: 10px;
        }
        p {
            margin-top: 10px;
        }
    }
}
