@import "../base/extends";
@import "../base/listas";
@import "../base/maps";
@import "../base/mixins";



section {
    @extend %textos;
    img{
        width: 400px;
    }
}

.introduccion {
    background-color: nth($colores, 5);
    width: 95vw;
    padding: 50px 80px;
}




.como-comprar :hover {
    transform: map-get($header, transform);
    transition: map-get($header, transition);}