@import "../base/extends";
@import "../base/listas";
@import "../base/maps";


section {

    .info{
        margin-top: 10px;
        background-image: url("https://raw.githubusercontent.com/Mnaiara22/Believe-MicaelaGil/master/images/fondo.avif");
        background-size: cover;
  
        ul{ 
            h2 {
                font-size: 40px;
            }
            padding: 50px;
            margin: 80px;
            background-color: #ffb2b8b9;
            list-style:none;
            @media screen and (max-width: 1000px){
                padding: 10px;}
            
        }
    }
}