@import "listas";

$header: (
    logo: 250px,
    transform: scale(1.3),
    transition: all 1s,
);

$footer: (
    logo:200px,
    redes: 50px,
    margin-footer: 20px,
    text: nth($colores, 1),
)

